body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.grid-image {
  border: 1px solid #333;
  overflow: hidden;
}

.footer {
  position: fixed;
  bottom: 1px;
  left: 1px;
  background-color: #333;
  padding: 5px;
  color: white;
  display: flex;
  flex-direction: column;
}

.footer2 {
  position: fixed;
  bottom: 1px;
  right: 1px;
  background-color: #333;
  padding: 5px;
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr) 200px;
  gap: 50px;
}

.grid-title{
  text-align: center;
  padding: 5px;
  background-color: #333;
  color: white;
}

.grid div{
  border: 1px solid #333;
  padding: 5px;
}
